/* --------------------Animaties-------------------- */
@keyframes fontSizeAnimation {
    0%, 100% {
        transform: scale(0.5, 1.5);
    }
    50% {
        transform: scale(1, 0.5);
    }
}

@keyframes teamCards {
    0%, 100% {
        transform: rotate(-0.5deg);
    }
    50% {
        transform: rotate(0.5deg);
    }
}

/* --------------------Global-------------------- */
body{
    font-family: "Cooper Black", "Comic Sans MS", "Times New Roman", serif;
    font-size: 1rem;
    width: 80%;
    margin: 5rem auto;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1.5rem;
}
img{
    max-width: 100%;
}
html{
    background-color: #3e72ff;
}
h2{
    font-size: 3.5rem;
    text-align: center;
    margin-top: 0;
}
.advertisement{
    margin-top: 1rem;
    background: deeppink;
}
/* --------------------Header-------------------- */
#logo{
    width: 70%;
}
#free-iphone{
    margin-top: 1rem;
    width: 25%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}
/* --------------------Flex layout van pagina-------------------- */
#wrapper{
    display: flex;
    justify-content: space-between;
}
#main-wrapper{
    width: 65%;
    display: flex;
    flex-direction: column;
}

#sidebar{
    width: 32%;
}

/* --------------------Main-------------------- */
main nav{
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
}
main ul{
    display: flex;
    margin-bottom: 0;
    padding: 0;
}
main ul li{
    list-style: none;
    border-radius: 0 1rem 0 0;
    letter-spacing: 0.15rem;
    background: blue;
    padding-top: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    margin-left: -1rem;
    box-shadow: black 0.01rem 0.1rem 0.5rem;
}
main ul:nth-child(1) li{
    z-index: 100;
}
main ul li:nth-child(2){
    z-index: 99;
}
main ul li:nth-child(3){
    z-index: 98;
}
main ul li:nth-child(4){
    z-index: 97;
    box-shadow: none;
}
main ul a{
    color: orange;
    text-decoration: none;
    font-size: 1.8rem;
    padding-left: 1rem;
    width: 100%;
}
main ul li:nth-child(1) a{
    font-size: 4.2rem;
}
main ul li:nth-child(2) a{
    text-decoration: underline dotted deeppink;
}
main ul li:nth-child(3) a{
    font-style: italic;
    transform-origin: left;
    font-size: 3rem;
}
main ul li:nth-child(4) a{
    letter-spacing: 0.789rem;
}

/* --------------------Diefstal op maat-------------------- */
#DiefstalOpMaat{
    position: relative;
    background: #3e72ff;
    padding-top: 2rem;
    margin-top: 0;
    z-index: 150;
    display: block;
    padding-bottom: 1.2rem;
}
#DiefstalOpMaat h2{
    text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.2rem;
    margin-bottom: 2rem;
    animation: fontSizeAnimation 1s ease-in-out infinite;
}
#DiefstalOpMaatIMG{
    display: block;
    margin: 1rem auto;
    height: 4rem;
    width: 90%;
}
#RuneMathieu{
    display: block;
    width: 80%;
    margin: 0 auto;
}

/* --------------------Testimonials-------------------- */
#testimonials{
    background: #ffe766;
    padding-top: 3rem;
    padding-bottom: 5rem;
}
#testimonials h2{
    font-size: 4rem;
    transform: scaley(1.8);
    line-height: 3rem;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    padding: 1rem 5rem 3.5rem 5rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0.1rem 0.1rem 0.5rem;
    background: url("../images/cartoon-emoticon-illustration-free-png.webp") no-repeat;
    background-size: 14rem 7rem;
    background-position: bottom left;
}
#testimonials section{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
}
#testimonials article{
    width: 45%;
}
#testimonials img{
    border-radius: 0.25rem;
    width: 40%;
}
#testimonials article{
    padding: 0 1rem;

}
#testimonials article h3{
    padding-top: 1rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    transform: scaleY(1.8);

}
#testimonials article h4{
    font-size: 0.75rem;
    text-align: right;

}
#testimonials article p{
    margin-bottom: 1.2rem;
}

/* --------------------Our Team-------------------- */
#OurTeam{
    background: #ff38a1;
    padding: 1rem 2rem;
}
#OurTeam h2{
    transform: scalex(2.5);
    font-size: 5rem;
    margin-bottom: 2rem;
}
#teamCardContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.teamCard{
    padding: 1rem;
    width: 25%;
    background: aquamarine;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: rgba(0, 0, 0, 0.37) 0.01rem 0 1rem;
    animation: teamCards 7.5s ease-in-out infinite alternate;
}
.teamCard:hover{
    transition: 0.3s;
    cursor: pointer;
    scale: 0.95;
}
.teamCard img{
    border-radius: 0.25rem;
}
.teamCard h3{
    font-size: 1.5rem;
    margin-bottom: 0.35rem;
}
.teamCard h4{
    font-size: 1.3rem;
}
.teamCard h5{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.teamCard p{
    font-size: 0.9rem;
}

/* --------------------Sidebar-------------------- */
#sidebar{
    background: rgba(240, 128, 128, 0.34);
    padding: 1rem;
}
#reviewContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#reviewContainer img{
    width: 45%;
}
#sidebarAd01{
    width: 100%;
    height: 50rem;
}
.sidebarAd{
    height: 7.5rem;
    width: 100%;
}

#sidebarAd04{
    height: 60rem;
    width: 100%;
}
/* --------------------CTA-------------------- */
#CTA{
    margin-top: 1rem;
    height: 46rem;
    background: #44d346;
    padding: 1rem 2rem;
}
#CTA h2{
    text-align: left;
    line-height: 2.5rem;
    padding-top: 1.9rem;
    transform: scaleY(1.8);
    color: #0f3425;
}
#CTA article{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
#CTA article label{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    letter-spacing: .05rem;
    color: #0f3425;
}
#CTA article label input{
    margin-top: 0.1rem;
    height: 4rem;
    border: black .25rem solid;
}
#inschrijven{
    color: white;
    background: #003701;
    font-family: inherit;

    font-size: 3rem;
    padding: 1rem 2rem;
    border: black .25rem solid;
}

/* --------------------Footer-------------------- */
footer{
    display: flex;
    justify-content: space-between;

    padding: 1rem;

    background: #41ff44;
}
footer h2{
    font-size: 8rem;
}
footer section h2{
    font-size: 3.5rem;
    color: #202020;
}
footer ul li{
    transform-origin: left;
    font-size: 1.5rem;
    transform: scaleX(1.3);
}
footer ul li a{
    color: #003f01;
    line-height: 1.5;
    text-underline-offset: 0.25rem;
    text-decoration: underline 0.185rem;
}
